/* line 3, ../sass/muro.scss */
h1 {
  font-family: Telex,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

/* line 7, ../sass/muro.scss */
#content {
  width: 62.5em;
  margin: 0 auto;
}
/* line 13, ../sass/muro.scss */
#content table .table-sort, #content table .table-sort-down, #content table .table-sort-up {
  cursor: pointer;
}
/* line 15, ../sass/muro.scss */
#content table .table-sort > i, #content table .table-sort-down > i, #content table .table-sort-up > i {
  font-style: normal;
  font-family: 'FontAwesome';
}
/* line 22, ../sass/muro.scss */
#content table .table-sort > i {
  opacity: 0;
}
/* line 25, ../sass/muro.scss */
#content table .table-sort:hover > i {
  opacity: 1;
}
/* line 30, ../sass/muro.scss */
#content table .table-sort > i:before {
  content: "\f0dc";
}
/* line 33, ../sass/muro.scss */
#content table .table-sort-down > i:before {
  content: "\f0dd";
}
/* line 36, ../sass/muro.scss */
#content table .table-sort-up > i:before {
  content: "\f0de";
}

/* line 43, ../sass/muro.scss */
#copyright {
  padding: 20px;
  position: relative;
  bottom: 0;
  background-color: #111;
  color: white;
}
/* line 50, ../sass/muro.scss */
#copyright .center {
  text-align: center;
}
/* line 53, ../sass/muro.scss */
#copyright .right {
  text-align: right;
}
/* line 58, ../sass/muro.scss */
#copyright a.label:hover, #copyright a.label:focus {
  color: inherit;
}

/* line 64, ../sass/muro.scss */
#loading {
  width: 400px;
  margin: 30px auto;
  font-size: 32px;
}
