/* line 3, ../sass/muro.scss */
h1 {
  font-family: Telex,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 8, ../sass/muro.scss */
h5 {
  text-align: right;
}

/* line 12, ../sass/muro.scss */
#years {
  float: left;
  margin: 0;
}
/* line 16, ../sass/muro.scss */
#years .selected a {
  color: black;
  font-weight: bold;
  cursor: default;
}

/* line 24, ../sass/muro.scss */
#content {
  width: 62.5em;
  margin: 0 auto;
}
/* line 30, ../sass/muro.scss */
#content table .table-sort, #content table .table-sort-down, #content table .table-sort-up {
  cursor: pointer;
}
/* line 32, ../sass/muro.scss */
#content table .table-sort > i, #content table .table-sort-down > i, #content table .table-sort-up > i {
  font-style: normal;
  font-family: 'FontAwesome';
}
/* line 39, ../sass/muro.scss */
#content table .table-sort > i {
  opacity: 0;
}
/* line 42, ../sass/muro.scss */
#content table .table-sort:hover > i {
  opacity: 1;
}
/* line 47, ../sass/muro.scss */
#content table .table-sort > i:before {
  content: "\f0dc";
}
/* line 50, ../sass/muro.scss */
#content table .table-sort-down > i:before {
  content: "\f0dd";
}
/* line 53, ../sass/muro.scss */
#content table .table-sort-up > i:before {
  content: "\f0de";
}

/* line 60, ../sass/muro.scss */
#total {
  margin-bottom: 0;
}
/* line 62, ../sass/muro.scss */
#total b {
  font-size: 150%;
}
/* line 66, ../sass/muro.scss */
#total label {
  display: inline;
  padding-left: 20px;
}

/* line 72, ../sass/muro.scss */
#status {
  margin-top: 30px;
  margin-left: -10px;
  text-align: right;
}
/* line 76, ../sass/muro.scss */
#status .ext {
  font-size: 11px;
}
/* line 78, ../sass/muro.scss */
#status .ext a {
  color: white;
  text-decoration: underline;
}

/* line 85, ../sass/muro.scss */
#copyright {
  padding: 20px;
  position: relative;
  bottom: 0;
  background-color: #111;
  color: white;
}
/* line 92, ../sass/muro.scss */
#copyright .center {
  text-align: center;
}
/* line 95, ../sass/muro.scss */
#copyright .right {
  text-align: right;
}
/* line 100, ../sass/muro.scss */
#copyright a.label:hover, #copyright a.label:focus {
  color: inherit;
}

/* line 106, ../sass/muro.scss */
#loading {
  width: 400px;
  margin: 30px auto;
  font-size: 32px;
}
